<p style="color: green"><%= notice %></p>

<h1>Movies</h1>

<div id="movies">
  <table>
    <thead>
    <tr>
      <th>Title</th>
      <th>Rating</th>
      <th>Release Date</th>
    </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= movie.title %></td>
          <td><%= movie.rating %></td>
          <td><%= movie.release_date %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
    <tr>
      <td>Total Movies:</td>
      <td><%= @total_movies %></td>
    </tr>
    </tfoot>
  </table>
</div>

<%= link_to "New movie", new_movie_path %>
